<!-- <div class="col-md-8 col-md-offset-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Mail</label>
            <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password">
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">Submit</button>
    </form>
</div> -->

<div class="tile">
    <div class="myimage">
       <img class="img-responsive" src="https://images.deliveryhero.io/image/foodpanda/pk/s1sy-listing.jpg?width=400&height=208">
    </div>
    <div class="rating-name" style="display:flex">
       <h1>Darbar</h1>
       <star-rating-comp [starType]="'svg'" [rating]="2.63"></star-rating-comp>
       
    </div>
</div>
